<mat-toolbar color="primary" class="main navbar">
  <nav>
    <a href="#">Img here</a>
    <a href="#">Wine Cellar Front End Portal</a>
  </nav>
</mat-toolbar>
<mat-toolbar color="primary" class="secondary navbar">
  <nav>
    <a [router-link]="['/view-data']" [ngClass]="isActive('/view-data')">View data</a>
    <a [router-link]="['/settings']" [ngClass]="isActive('/settings')">Settings</a>
    <a [router-link]="['/tests']" [ngClass]="isActive('/tests')">Test Functions</a>
  </nav>
</mat-toolbar>