<h2>Test Functions</h2>
<mat-divider></mat-divider>
<p>From this page, you can test various system functions that would normally only be triggered at certain times or if certain conditions are met.</p>
<br>
<p>Don't want to wait for the next report? To generate and send a report now, click here.</p>
<button mat-raised-button color="primary" (click)="sendReport()">Generate report now</button>

<p>Not receiving any emails? To send a test email, click here.</p>
<button mat-raised-button color="primary" (click)="sendTestEmail()">Send test email</button>