<div class="wrapper">
  <h1>Wine Cellar Front End Portal</h1>

  <p>View the entire database raw. (TODO is this necessary?)</p>
  <button (click)="getDb()">Get Database</button>

  <p>Configure alarms. Create new alarms, delete and edit values such as when to trigger.</p>
  <button (click)="setAlarms()">Alarm</button>

  <p>Click to open dialog (TODO) to change settings such as the email address to send reports and alarms to, how often to generate reports... etc.</p>
  <button (click)="setPrefs()">Set Prefs</button>
  <!--TODO lauch dialog/other form showing all possible settings to change-->

  <p>Don't want to wait until the next report is generated? Generate and send one now.</p>
  <button (click)="generateReportNow()">Generate report now</button>

  <p>Having trouble? Try sending a test email.</p>
  <button (click)="sendTestEmail()">Send test email</button>
</div>