<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <!-- allow description to specify its own paragraphs etc. -->
  <ng-container *ngIf="description">
    <div [innerHTML]="description"></div>
  </ng-container>

  <!-- Alarms -->
  <ng-container *ngIf="type == 'alarms'">
    The complete list of alarms is shown here:
    <table mat-table [dataSource]="form.value.alarms" class="mat-elevation">
        <tr mat-header-row *matHeaderRowDef="['name', 'condition', 'isSubscribedTo', 'checkFrequency', 'actions']; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'condition', 'isSubscribedTo', 'checkFrequency', 'actions'];"></tr>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Alarm name </th>
          <td mat-cell *matCellDef="let alarm"> {{alarm.name}} </td>
        </ng-container>
        <ng-container matColumnDef="condition">
            <th mat-header-cell *matHeaderCellDef> Condition </th>
            <td mat-cell *matCellDef="let alarm"> {{alarm.condtion}} </td>
        </ng-container>
        <ng-container matColumnDef="isSubscribedTo">
            <th mat-header-cell *matHeaderCellDef> Subscribed? </th>
            <td mat-cell *matCellDef="let alarm"> {{alarm.isSubscribedTo}} </td>
        </ng-container>
        <ng-container matColumnDef="checkFrequency">
            <th mat-header-cell *matHeaderCellDef> Check frequency </th>
            <td mat-cell *matCellDef="let alarm"> {{alarm.checkFrequency}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let alarm">
              <button mat-button class="mat-raised-button mat-primary">Delete</button>
            </td>
        </ng-container>
      </tbody>
    </table>
    <button mat-button class="mat-raised-button mat-primary">New Alarm</button>
    
  </ng-container>

  <!-- Email -->
  <ng-container *ngIf="type == 'email'">
    <form class="form" [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email address" formControlName="email">
        <!-- TODO should get error messages programmatically -->
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">
          Invalid Email
        </mat-error>
      </mat-form-field>
    </form>
  </ng-container>

  <!-- Report Generation -->
  <ng-container *ngIf="type == 'report'">
    <form class="form" [formGroup]="form">
      <!-- TODO should get/set labels programmatically -->
      <!-- Temperature -->
      <label id="showTemperature-label">Whether reports should display temperature</label>
      <mat-radio-group
        aria-labelledby="showTemperature-label"
        formControlName="showTemperature"
        class="full-width radio-group">
        <!-- TODO should get values programmatically -->
        <mat-radio-button value="true" [checked]="form.controls.showTemperature.value === true">True</mat-radio-button>
        <mat-radio-button value="false" [checked]="form.controls.showTemperature.value === false">False</mat-radio-button>
        <!-- TODO should get error messages programmatically -->
        <mat-error *ngIf="form.controls.showTemperature.invalid && form.controls.showTemperature.touched">
          Please select either true or false for display temperature.
        </mat-error>
      </mat-radio-group>
      <!-- Humidity -->
      <label id="showHumidity-label">Whether reports should display humidity</label>
      <mat-radio-group
        aria-labelledby="showHumidity-label"
        formControlName="showHumidity"
        class="full-width radio-group">
        <mat-radio-button value="true" [checked]="form.controls.showHumidity.value === true">True</mat-radio-button>
        <mat-radio-button value="false" [checked]="form.controls.showHumidity.value === false">False</mat-radio-button>
        <mat-error *ngIf="form.controls.showHumidity.invalid && form.controls.showHumidity.touched">
          Please select either true or false for display humidity.
        </mat-error>
      </mat-radio-group>
      <!-- Report generation frequency -->
      <mat-form-field class="full-width">
        <input matInput placeholder="A time in seconds for how often to generate reports" formControlName="reportGenerationFrequency">
        <mat-error *ngIf="form.controls.reportGenerationFrequency.invalid && form.controls.reportGenerationFrequency.touched">
          Please enter a time in seconds for report generation frequency.
        </mat-error>
      </mat-form-field>
    </form>
  </ng-container>

  <!-- Data Collection -->
  <ng-container *ngIf="type == 'dataCollection'">
    <form class="form" [formGroup]="form">
      <!-- Sensor Polling Rate -->
      <mat-form-field class="full-width">
        <input matInput placeholder="A time in seconds for how often to take sensor readings" formControlName="sensorPollingRate">
        <mat-error *ngIf="form.controls.sensorPollingRate.invalid && form.controls.sensorPollingRate.touched">
          Please enter a time in seconds for how often to take sensor readings.
        </mat-error>
      </mat-form-field>
      <!-- Collect temperature -->
      <label id="collectTemperature-label">Whether sensors should record temperature</label>
      <mat-radio-group
        aria-labelledby="collectTemperature-label"
        formControlName="collectTemperature"
        class="full-width radio-group">
        <!-- TODO should get values programmatically -->
        <mat-radio-button value="true" [checked]="form.controls.collectTemperature.value === true">True</mat-radio-button>
        <mat-radio-button value="false" [checked]="form.controls.collectTemperature.value === false">False</mat-radio-button>
        <!-- TODO should get error messages programmatically -->
        <mat-error *ngIf="form.controls.collectTemperature.invalid && form.controls.collectTemperature.touched">
          Please select either true or false for display temperature.
        </mat-error>
      </mat-radio-group>
      <!-- Collect humidity -->
      <label id="collectHumidity-label">Whether sensors should record humidity</label>
      <mat-radio-group
        aria-labelledby="collectHumidity-label"
        formControlName="collectHumidity"
        class="full-width radio-group">
        <!-- TODO should get values programmatically -->
        <mat-radio-button value="true" [checked]="form.controls.collectHumidity.value === true">True</mat-radio-button>
        <mat-radio-button value="false" [checked]="form.controls.collectHumidity.value === false">False</mat-radio-button>
        <!-- TODO should get error messages programmatically -->
        <mat-error *ngIf="form.controls.collectHumidity.invalid && form.controls.collectHumidity.touched">
          Please select either true or false for display temperature.
        </mat-error>
      </mat-radio-group>
    </form>
  </ng-container>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button 
    mat-button 
    class="mat-raised-button mat-accent"
    type="submit" 
    [disabled]="form.invalid"
    (click)="save()">
      Save changes
  </button>
  <button 
    mat-button 
    class="mat-raised-button mat-warn"
    type="button"
    (click)="close()">
      Discard changes
  </button>
</mat-dialog-actions>